<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h1>{{otracosaString}}</h1>

<h1>Datos Registrados a la fecha {{data.[0].lastUpdate}} COVID - 19</h1>


<p>Total infectados = {{data.[0].confirmed}}</p>
<p>Total Recuperados = {{data.[0].recovered}}</p>
<p>Total estado critico = {{data.[0].critical}}</p>



